## Python üëç

Python is what is called an interpreted language. 

Compiled languages examine your entire program at compile time, and are able to warn you about a whole class of errors prior to execution. 

In contrast, Python interprets your script line by line as it executes it. Python will stop executing the entire program when it encounters an error (unless the error is expected and handled by the programmer, a more advanced subject that we'll cover later on in this course).

In [1]:
# Check the Python Version

import sys
print(sys.version)

3.10.3 (v3.10.3:a342a49189, Mar 16 2022, 09:34:18) [Clang 13.0.0 (clang-1300.0.29.30)]

[Tip:] sys is a built-in module that contains many system-specific 
parameters and functions, including the Python version in use. 


Before using it, we must explictly import it.

In [2]:
print("Hello World!")

Hello World!

## Types of objects in Python

Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: strings, integers and floats. Anytime you write words (text) in Python, you're using character strings (strings for short). The most common numbers, on the other hand, are integers (e.g. -1, 0, 100) and floats, which represent real numbers (e.g. 3.14, -42.0).

## Object Types
* float
* integer
* string
* boolean

In [3]:
x = 10
y = 10.1
z = "Hello"
b = True

In [4]:
type(y)

float

In [5]:
y1 = int(y)
y1

10

In [6]:
y_string = str(y)
y_string

'10.1'

In [7]:
float("1.1")

1.1

In [8]:
b

True

In [9]:
type(b)

bool

In [10]:
int(True)

1

In [11]:
bool(1)

True

## Expressions: Mathemeatical Operations

In [12]:
5 + 5 * 10  - 2 / 5

54.6

In [13]:
11 // 2   # integer division

5

In [14]:
10 % 3   # modulo operator gives the remainder

1

## String Operations

single quote or double quote

In [15]:
name = "DavutEmrahAyan"

In [16]:
# indices start with 0

name[0]   # first element

'D'

In [17]:
name[5]   # 6th alphabet

'E'

In [18]:
for i in name:
    print(i.upper())

D
A
V
U
T
E
M
R
A
H
A
Y
A
N

In [19]:
# negative index

name[-1]   # last index

'n'

#### slicing

In [20]:
name[0:5]   # first 5 index ; 5 is not included

'Davut'

In [21]:
name[::2]   # every other alphabet

'DvtmaAa'

In [22]:
name[0:5:2]   # from 0 to 5 except 1, 3 (evry second element, start from 0 to 5)

'Dvt'

In [23]:
len(name)   # length of the string

14

### Concatenate

In [24]:
statement = name[:5] + " is the best!"   # concatenate

statement

'Davut is the best!'

In [25]:
fname = name[0:5] + " "

fname * 3

'Davut Davut Davut '

### Immutable

You can not change part of a string

In [26]:
fname[2] = "A"

TypeError: 'str' object does not support item assignment

### escape sequence   \

In [ ]:
print("Davut \nEmrah \nAyan")   # \n is a new line indicator (escape sequnece)

Davut
Emrah
Ayan

In [ ]:
print("Davut \tEmrah \tAyan")  # \t is an indicator of tab

Davut 	Emrah 	Ayan

In [ ]:
print("Davut\Ayan")

Davut\Ayan

In [ ]:
# An ‚Äòr‚Äô before a string tells the Python interpreter to treat backslashes as a literal (raw) character.

print(r"Davut \n")   ## r indicates that a raw string will start

Davut \n

## Methods

In [ ]:
a = "Davut"

b = a.upper()    ## uppercase

b

'DAVUT'

In [ ]:
a = "Davut is successful"

b = a.replace("is", "and Orhan are")   ### replace a segement of a string

b

'Davut and Orhan are successful'

In [ ]:
a.find("is")   # find the starting (index) of the specific segment

6

## 1. Tuples

In Python, there are different data types: string, integer, and float. These data types can all be contained in a tuple as follows:

ordered sequences. comma separated elements in parentheses.

In [ ]:
abc = (1, 4, 5, 2, 4, 7)

type(abc)

tuple

In [ ]:
abc = ("Davut", 4, 5, 2.5, 4, 7)

abc[0]

'Davut'

In [ ]:
abc[-1]   # negative index (last element)

7

## concatenate tuples

In [ ]:

abc + ("try", 10, "times")

('Davut', 4, 5, 2.5, 4, 7, 'try', 10, 'times')

In [ ]:
abc[0:3]

('Davut', 4, 5)

In [ ]:
len(abc)  ## length of a tuple

6

### tuples are immutable


you need to assign a new name

In [ ]:
a = (1,3,7,2)

b = ("a", 3, "b", 4)

a[2] = "b"

TypeError: 'tuple' object does not support item assignment

### Sorting tuple and make it a list

In [ ]:
a = sorted(a)   ## you can assign new variable name

a

[1, 2, 3, 7]

## Nesting

In [ ]:
nested = (1, 2, ("a", "b", "c"), ("ayan", (4, 5)))

nested[2]

('a', 'b', 'c')

In [ ]:
nested[2][1]

'b'

## 2. Lists

A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an index. An index is used to access and refer to items within a list.

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

list are like tuples, ordered sequences.

But lists are mutable.

In [ ]:
ab = [1, 5, 2, 3, [1, 2], "Davut", ("a", 3)]

ab

[1, 5, 2, 3, [1, 2], 'Davut', ('a', 3)]

In [ ]:
ab[4][1]

2

In [ ]:
ab[2:4]

[2, 3]

## concatenate

In [ ]:
cd = [3, 4]


ab + cd

[1, 5, 2, 3, [1, 2], 'Davut', ('a', 3), 3, 4]

## New Elements or Nested Lists

In [ ]:
cd.extend([10,11])   ## add new elements (merge)

cd

[3, 4, 10, 11]

In [ ]:
cd.append(["append", "as a list"])   ### append as a new list (one element)

cd

[3, 4, 10, 11, ['append', 'as a list']]

## mutable

Lists are mutable, we can change them, elemwntwise.

Here we change $6^{th}$ element.

In [ ]:
abc = [1, 2, 3, 4, 5, "Davut"]

abc[5] = "Davut Ayan"

abc

[1, 2, 3, 4, 5, 'Davut Ayan']

In [ ]:
del(abc[0:2])       ## delete

abc

[3, 4, 5, 'Davut Ayan']

### Convert string to list

In [ ]:
name = "Davut Ayan"


name2 = name.split()

name2

['Davut', 'Ayan']

In [ ]:
name2[0]

'Davut'

In [ ]:
names = "Orhan, Emre, Davut, Tugba"

names2 = names.split(",")

names2

['Orhan', ' Emre', ' Davut', ' Tugba']

## Aliasing

When we set one variable B equal to A, both A and B are referencing the same list in memory:

In [ ]:
A = ["hard rock", 10, 3.4]

B = A

A[0]

'hard rock'

In [ ]:
B[0]

'hard rock'

In [ ]:
# change first element of A

A[0] = "banana"

A

['banana', 10, 3.4]

In [ ]:
B    # although I did not change B, it changes as well  (side effect, consequence)

['banana', 10, 3.4]


### Clone (clone by value)

In [ ]:
A = ["hard rock", 10, 3.4]

B = A[:]

A

['hard rock', 10, 3.4]

In [ ]:
B

['hard rock', 10, 3.4]

In [ ]:
# change first element of A

A[0] = "banana"

A

['banana', 10, 3.4]

In [ ]:
B

['hard rock', 10, 3.4]

In [ ]:
help(A)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## 3. Dictionary

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of being indexed numerically like a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.

For every key, there can only be one single value, however, multiple keys can hold the same value. Keys can only be strings, numbers, or tuples, but values can be any data type.

* denoted by {}, keys and values

* type a collection. Similar to lists, but index does not have to be integer.

* keys have to be immutable and unique

* the values can be immutable, mutable, and duplicates

In [ ]:
dict1 = {
    "key1": 1,
    "key2": "2, 3, 4",
    "key3": [1, 2, 3],
    "key4": (1, 2, 3),
    ('key5'): 5 }

dict1

{'key1': 1, 'key2': '2, 3, 4', 'key3': [1, 2, 3], 'key4': (1, 2, 3), 'key5': 5}

In [ ]:
dict1["key1"]

1

In [ ]:
dict1["key2"]

'2, 3, 4'

In [ ]:
del(dict1["key1"])   ## delete an enrty

dict1

{'key2': '2, 3, 4', 'key3': [1, 2, 3], 'key4': (1, 2, 3), 'key5': 5}

In [ ]:
"key1" in dict1   ## check if "key1" is in dict1

False

In [ ]:
dict1.keys()      ## method keys

dict_keys(['key2', 'key3', 'key4', 'key5'])

In [ ]:
dict1.values()   ## method values

dict_values(['2, 3, 4', [1, 2, 3], (1, 2, 3), 5])

## append new key

In [ ]:
dict1["newkey"] = "new value"

dict1

{'key2': '2, 3, 4',
 'key3': [1, 2, 3],
 'key4': (1, 2, 3),
 'key5': 5,
 'newkey': 'new value'}

## 4. Sets

A set is a unique collection of objects in Python. You can denote a set with a pair of curly brackets {}. Python will automatically remove duplicate items:

* Sets are type of collection: You can store different type of objects in sets
 
* unlike lists and tuples; they are unordered: Sets do not record element positions

* Sets can only have unique elements

In [ ]:
{"A", "A"}

{'A'}

#### type-casting

convert lists to a set. No duplicate elements in sets.

In [ ]:
lista = [1, 2, 1, 1,3]

set(lista)

{1, 2, 3}

#### Adding new element

In [ ]:
set1 = {"Thriller", "Gladiator", "Monkeys"}

set1

{'Gladiator', 'Monkeys', 'Thriller'}

In [ ]:
set1.add("new item")

set1

{'Gladiator', 'Monkeys', 'Thriller', 'new item'}

#### Removing an element

In [ ]:
set1.remove("Monkeys")

set1

{'Gladiator', 'Thriller', 'new item'}

#### Set operations

In [ ]:
"Monkeys" in set1

False

In [ ]:
"Thriller" in set1

True

In [ ]:
set2 = {1, 2, "Gladiator"}

In [ ]:
set3 = set2 & set1   ### intersection

set3

{'Gladiator'}

In [ ]:
set4 = set1.union(set2)   ### union of sets

set4

{1, 2, 'Gladiator', 'Thriller', 'new item'}

In [ ]:
set2.issubset(set4)  ### check if subset

True

In [ ]:
set2.issubset(set1)  ### check if subset

False

In [ ]:
set1_dif_set2 = set1.difference(set2)  ### difference

set1_dif_set2

{'Thriller', 'new item'}

In [ ]:
set2.issuperset(set1)  ### check if set2 is a superset of set1

False

In [ ]:
set2.issuperset(set3)  ### check if set2 is a superset of set3

True

In [ ]:
def my_fun(*my_tuple):
	for i in range(len(my_tuple)):
    	print(my_tuple[i])
#####################################       
 
my_fun(3, 4)

TabError: inconsistent use of tabs and spaces in indentation (1609143068.py, line 3)