# Python reserved Words for variable names

False       None        True        and     as      assert      except
class       if          def         del     elif    else        in    
return      for         from        global  try     import      raise    
is          lambda      while       not     or      pass     
finally     continue    nonlocal    with    yield   break

In [1]:
# Chapter 2

## Expressions

x = 1
y = 10

x = x + 1  # increment
x

2

In [2]:
x1 = x * 2 * y  # multiplication
x2 = y / 100    # division
x3 = y ** 2     # power
x4 = y % x      # remainder

type(x4)

int

In [1]:
a = "hello"
b = " "
c = "world"

z = a + b + c
z
type(z)

str

In [2]:
# Implicit Conversion

x10 = 10.0
type(x10)

float

In [4]:
x11 = 11

print(x11 + x10, "  float")

21.0   float

In [5]:
## User input

# input(): output will be STRING

name = input("Whats your name?")

print(name)

Whats your name? Davut

Davut

In [6]:
### Example: converting elevator floors

userinput = input('Europe floor?')

usfloor = int(userinput) + 1

print('US floor', usfloor)

Europe floor? 5

US floor 6

In [7]:
### Example: pay rate

hrs = input("Enter Hours:")
rate = input("Enter rate:")
pay = float(hrs) * float(rate)

print("Pay:", pay)

Enter Hours: 5
Enter rate: 10

Pay: 50.0

In [9]:
## Conditional Steps
x = 5
if x < 10:
    print("smaller")
if x > 20:
    print("bigger")
print("Finish")

smaller
Finish

In [6]:
## while loop

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [175]:
## Repeated Steps:

n = 5
while n > 0:
    print(n)
    n -=1
    
print("Blastoff!")

5
4
3
2
1
Blastoff!

In [171]:
# The continue Statement
# With the continue statement we can stop the current iteration, and continue with the next:
i = 0
while i < 6:
  i += 1
  if i == 3:   ## skips to next iteration when i==3
    continue
  print(i)

1
2
4
5
6

In [23]:
# The break Statement
# With the break statement we can stop the loop even if the while condition is true:
    
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [25]:
## The else Statement
# With the else statement we can run a block of code once when the condition no longer is true:
    
# Print a message once the condition is false:

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")
  print(i)

1
2
3
4
5
i is no longer less than 6
6

In [28]:
## if statement

a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [7]:
## The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [8]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
if a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
# Two 'if' statements are mutually exclusive. They are evaluated individually.

# The elif fixes this and makes the multiple if statements 'stick together' as one:

# That is because BOTH if statements are being evaluated. The computer sees them as two separate statements:bb

In [ ]:
### Else

# The else keyword catches anything which isn't caught by the preceding conditions.

a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
## AND operator
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

In [ ]:
## OR operator
a = 200
b = 33
c = 500
if a > b or c > a:
  print("At least one of the conditions is True")

In [ ]:
## Nested If
# You can have if statements inside if statements, this is called nested if statements.

x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

In [36]:
## The pass Statement

'''
if statements cannot be empty, but if you for some reason have an if statement with no content, 
put in the pass statement to avoid getting an error.
'''

a = 33
b = 200

if b > a:
  pass

In [ ]:
## Casting

## If you want to specify the data type of a variable, this can be done with casting.

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
## Get the Type
## You can get the data type of a variable with the type() function.

x = 5
y = "John"
print(type(x))
print(type(y))

In [ ]:
## Single or Double Quotes?
# String variables can be declared either by using single or double quotes:

x = "John"
# is the same as
x = 'John'

In [ ]:
## Case-Sensitive

## Variable names are case-sensitive.

## This will create two variables:

a = 4
A = "Sally"
#A will not overwrite a

In [ ]:
## Multi Words Variable Names

'''
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:
'''
## Camel Case: Each word, except the first, starts with a capital letter:

myVariableName = "John"

## Pascal Case: Each word starts with a capital letter:

MyVariableName = "John"

## Snake Case: Each word is separated by an underscore character:

my_variable_name = "John"

In [ ]:
## Many Values to Multiple Variables
## Python allows you to assign values to multiple variables in one line:

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
## One Value to Multiple Variables: And you can assign the same value to multiple variables in one line:

x = y = z = "Orange"
print(x)
print(y)
print(z)

In [1]:
## Unpack a Collection

## If you have a collection of values in a list, tuple etc. 
## Python allows you to extract the values into variables. This is called unpacking.

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [3]:
## print
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [4]:
x = 5
y = "John"
print(x, y)

5 John

In [5]:
## GLOBAL

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [7]:
k = 25
global k


print(k)

25

## DATA TYPES

Text Type:	str  
Numeric Types:	int, float, complex   
Sequence Types:	list, tuple, range   
Mapping Type:	dict    
Set Types:	set, frozenset    
Boolean Type:	bool    
Binary Types:	bytes, bytearray, memoryview   
None Type:	NoneType

In [8]:
## MULTI LINE STRINGS

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [10]:
## LOOP THROUGH STRING

for x in "banana":
  print(x)

b
a
n
a
n
a

In [13]:
## CHECK STRING

txt = "The best things in life are free!"

print("free" in txt)

True

In [23]:
txt = "The best things in life are free!"

if "free" in txt:
  print("Yes, 'free' is present.")

else:
    print("No, 'free' is not present")

Yes, 'free' is present.

In [24]:
## NOT IN

txt = "The best things in life are free!"

print("expensive" not in txt)

True

In [25]:
txt = "The best things in life are free!"

if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [26]:
## SLICING

x = "banana"

x[1:4]

'ana'

In [27]:
x = "banana"

x[:4]

'bana'

In [29]:
b = "Hello, World!"

print(b[-6:])

World!

In [30]:
## MODIFY STRINGS

HELLO, WORLD!

In [31]:
## upper case

a = "Hello, World!"

print(a.upper())

HELLO, WORLD!

In [33]:
## lower case

a = "Hello, World!"

print(a.lower())

hello, world!

In [35]:
## white space

a = " Hello, World! "

print(a.strip()) # returns "Hello, World!"

Hello, World!

In [36]:
## replace

a = "Hello, World!"

print(a.replace("H", "J"))

Jello, World!

In [37]:
## split

a = "Hello, World!"

print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [41]:
a.split(",")[0].strip()

'Hello'

In [42]:
a.split(",")[1].strip()

'World!'

In [161]:
## FORMAT METHOD

## I

age1 = 36
age2 = 39
txt = "My name is John, and I am {}, she is {}"

print(txt.format(age1, age2))

My name is John, and I am 36, she is 39

In [157]:
## II

age1 = 36
age2 = 39
txt = "My name is John, and I am {1}, she is {0}"

print(txt.format(age1, age2))

My name is John, and I am 39, she is 36

## boolean

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [49]:
print(bool("Hello"))
print(bool(15))

True
True

## Python Arithmetic Operators

+ : Addition
- : Subtraction
* : Multiplication
/ : Division
% : Modulus
** : Exponentiation
// : Floor division

In [50]:
10 // 3

3

In [51]:
10 % 3

1

## Python Assignment Operators

In [52]:
x = 10

x += 5

print(x)

15

In [53]:
y = 10

y -= 2

print(y)

8

## Python Identity Operators

In [57]:
x = 10.0
x = y

if y is x:
    print("y is 10")
else: 
    print("y is not 10")

y is 10

## Membership Operators

In [60]:
favorites = ["apple", "cherry", "banana"]

my_fav = "apple"

if my_fav in favorites:
    print("Your choice is a favorite")
else: 
    print("not favorite")

Your choice is a favorite

## LISTS

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [61]:
list1 = ["abc", 34, True, 40, "male"]

len(list1)

5

In [142]:
numbers = [1, 2, 3]
numbers.append(4)
numbers

[1, 2, 3, 4]

In [144]:
my = []
for i in range(len(numbers)):
    my.append(numbers[i])
    print(my)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]

In [148]:
## random number

import random

In [149]:
random.randrange(1,10)

4

## casting

In [1]:
int(1.1)

1

In [153]:
int("3") ## does not take decimals

3

In [154]:
float("3.5")

3.5

In [155]:
str(5.5)

'5.5'

### Python Collections (Arrays)

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [2]:
## LISTS

list1 = ['A', 'B', 'C', 'D', 'E', 'F', 'G']

## 1. Ordered

list_1_5 = list1[0:5]
print(list_1_5)

['A', 'B', 'C', 'D', 'E']

In [5]:
## 2. Lists are changable

# If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

# If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

list1 = ['A', 'B', 'C', 'D', 'E', 'F', 'G']

list1[2:3] = ['insert1', 'insert2'] ## inserted 2 items and replace 'C'

list1

['A', 'B', 'insert1', 'insert2', 'D', 'E', 'F', 'G']

## Insert Items

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [6]:
thislist = ["apple", "banana", "cherry"]

thislist.insert(2, "watermelon")

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Append Items

To add an item to the end of the list, use the append() method:

In [7]:
thislist = ["apple", "banana", "cherry"]

thislist.append("orange")

print(thislist)

['apple', 'banana', 'cherry', 'orange']

## Extend List

To append elements from another list to the current list, use the extend() method.

In [8]:
thislist = ["apple", "banana", "cherry"]

tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [9]:
## extend a list by tuple

thislist = ["apple", "banana", "cherry"]

thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## Remove Specified Item

The remove() method removes the specified item.

In [10]:
thislist = ["apple", "banana", "cherry"]

thislist.remove("banana")

print(thislist)

['apple', 'cherry']

## Remove Specified Index

The pop() method removes the specified index.

In [11]:
thislist = ["apple", "banana", "cherry"]

thislist.pop(1)

print(thislist)

['apple', 'cherry']

In [12]:
## Remove the last item:

thislist = ["apple", "banana", "cherry"]

thislist.pop()

print(thislist)

['apple', 'banana']

## The del keyword also removes the specified index:

In [13]:
thislist = ["apple", "banana", "cherry"]

del thislist[0]

print(thislist)

['banana', 'cherry']

In [15]:
## delete completely

thislist = ["apple", "banana", "cherry"]

del thislist

## Clear the List

The clear() method empties the list.

The list still remains, but it has no content.

In [16]:
## Clear the list content:

thislist = ["apple", "banana", "cherry"]

thislist.clear()

print(thislist)

[]

## Loop Through a List

You can loop through the list items by using a for loop:

In [17]:
thislist = ["apple", "banana", "cherry"]

for x in thislist:
  print(x)

apple
banana
cherry

In [18]:
## Print all items by referring to their index number:

thislist = ["apple", "banana", "cherry"]

for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry