## Reading Data -- Carlos

In [11]:
string = r"/Users/d842a922/Desktop/PYTHON/data" + "/"

string

'/Users/d842a922/Desktop/PYTHON/data/'

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(string + "college.csv", dtype = {'id':np.float64, 'region':np.character}, na_values =['M'])

df.head()

NameError: name 'string' is not defined

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1269 entries, 0 to 1268
Data columns (total 17 columns):
id                    1269 non-null int64
name                  1269 non-null object
city                  1269 non-null object
state                 1269 non-null object
region                1269 non-null object
highest_degree        1269 non-null object
control               1269 non-null object
gender                1269 non-null object
admission_rate        1269 non-null float64
sat_avg               1269 non-null int64
undergrads            1269 non-null int64
tuition               1269 non-null int64
faculty_salary_avg    1269 non-null int64
loan_default_rate     1267 non-null float64
median_debt           1269 non-null float64
lon                   1269 non-null float64
lat                   1269 non-null float64
dtypes: float64(5), int64(5), object(7)
memory usage: 168.6+ KB

In [18]:
df.describe()

,id,admission_rate,sat_avg,undergrads,tuition,faculty_salary_avg,loan_default_rate,median_debt,lon,lat
count,1269.000000,1269.000000,1269.000000,1269.000000,1269.000000,1269.000000,1267.000000,1269.000000,1269.000000,1269.000000
mean,186987.700552,0.650142,1059.508274,5628.720252,21024.811663,7656.030733,0.065582,23483.476359,-88.293929,38.607607
std,52839.750821,0.192187,133.034296,7379.619072,12545.997785,2223.440660,0.046013,4613.809463,13.937356,4.632134
min,100654.000000,0.050900,720.000000,47.000000,2732.000000,1451.000000,0.000000,6056.000000,-157.922555,19.707094
25%,153250.000000,0.533900,973.000000,1296.000000,8970.000000,6191.000000,0.035000,21250.000000,-94.171854,35.222567
50%,186283.000000,0.668700,1040.000000,2556.000000,20000.000000,7272.000000,0.055000,24588.500000,-84.890238,39.739236
75%,215284.000000,0.785900,1120.000000,6715.000000,30364.000000,8671.000000,0.083000,27000.000000,-78.630296,41.808431
max,484905.000000,1.000000,1545.000000,52280.000000,51008.000000,20650.000000,0.334000,41000.000000,-68.589491,61.218056

In [31]:
id = df["id"]

id.head()

0    102669.0
1    101648.0
2    100830.0
3    101879.0
4    100858.0
Name: id, dtype: float64

In [35]:
type(df["region"].value_counts(dropna =False))

pandas.core.series.Series

In [36]:
df["region"].value_counts(dropna = False)

South        459
Midwest      353
Northeast    299
West         158
Name: region, dtype: int64

In [34]:
df.region[1:3]

1    South
2    South
Name: region, dtype: object